<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Konami Code Baseball</title>
    <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Press+Start+2P" %>
    <%= stylesheet_link_tag "main" %>
  </head>
  <body>
    <main role="main">
      <h1><%= link_to 'Baseball Konami Code', '/' %></h1>
      <%= yield %>
    </main>
    <%= partial "partials/footer" %>
    <%= partial "partials/analytics" %>
  </body>
</html>
