<% wrap_layout :layout do %>
  <%= yield %>
  <aside>
    <%= svg('gamepad.svg') %>
  </aside>

  <article>
    <ol class="pitches">
      <% current_page.data.pitches.each do |p| %>
        <li class="pitch <%= current_page.data.konami_code_pitch_counts.include?(p.pitch_count.to_i - 1) ? 'konami-code' : '' %>">
          <%= p.pitch_count.rjust(3, '0') %>
          <%= p.pitch_kode == '' ? '&nbsp;' : p.pitch_kode %>
          <%= p.pitcher_last_name %>
          <%= p.hitter_last_name %>
          <%= p.pitch_outcome %>
        </li>
      <% end %>
    </ol>
  </article>

  <section class="about">
    <p>
      The Konami Code (コナミコマンド Konami Komando?, lit. "Konami Command") is a special combination of buttons that appears in several Konami games, including the Contra series. Since it was first revealed, the code has become part of popular culture in general, even appearing in many non-Konami games and diverse media, like clothing, advertisements and non-gaming related software.
    </p>

    <p>
      The code was first used in the 1986 release of Gradius for the Nintendo Entertainment System but was popularized among North American players in the NES version of Contra, for which it was also dubbed both the "Contra Code" and "30 Lives Code", because of its nearly necessary use in the game.
    </p>

    <p>
      The Konami Code was created by Kazuhisa Hashimoto, who was developing the home port of the 1985 arcade game Gradius, an horizontal scrolling shooter released on the NES in 1986. Finding the game too difficult to play through during testing, he created a cheat code to give the player a full set of power-ups (normally attained gradually throughout the game). The code was still present in the released version after Hashimoto forgot to remove it. Players discovered and shared the code. The Konami Code was thus included in the series' other sequels and spin-offs.
    </p>

    <p>
      The code is usually entered during the title screen before the game demo begins, and the player must press the following sequence of buttons on the game controller to enable the cheat:
    </p>

    <p>
      ⚾️ 🎮 ⬆️ ⬆️ ⬅️ ➡️ ⬅️ ➡️ ⬇️ ⬇️
    </p>
  </section>
<% end %>
